<nav class="navbar navbar-expand-lg navbar-dark bg-primary" ngbDropdown>
  <a class="navbar-brand" routerLink="/">SigmaBackend</a>
  <button
    class="navbar-toggler" type="button" [attr.aria-expanded]="!collapsed"
    aria-label="Navegación" (click)="collapsed = !collapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.collapse]="collapsed">
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="nav-link" routerLink="/users" routerLinkActive="active">Usuarios</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/groups" routerLinkActive="active">Grupos</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" style="cursor: pointer;" ngbDropdownToggle id="profileDropdown">
          <span class="header__initial">{{user.name.substring(0, 1)}}</span>
          {{user.name}}
        </a>
        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="profileDropdown">
          <a ngbDropdownItem class="header__logout" (click)="logout()">Cerrar sesión</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
